@font-face {
    font-family: AvantGardeCTT;
    font-weight: normal;
    src: url('../../public/fonts/avantgardectt.woff2') format('woff2');
}
@font-face {
    font-family: AvantGardeCTT;
    font-weight: bold;
    src: url('../../public/fonts/avantgardectt-bold.woff2') format('woff2');
}
@tailwind base;
@tailwind components;
@tailwind utilities;
